#b1{
    background-color: black;
    color:blueviolet;
    color:coral;
    padding:20px;
    font-size:3rem;
    border-radius: 10px;
    position:absolute;
    left:350px;
    margin: 20px;
}
#b2{
    background-color: transparent;
    margin: 20px;
    color:coral;
    padding:20px;
    font-size:3rem;
    border-radius: 10px;
    position:absolute;
    left:750px;
}
#header{
    background-color: violet;
    color:black;
    height:100px;
}